
body{
	margin: 0;
	padding: 0;
}

.background{
	width: 100vw;
	height: 100vh;
	background-image: url("../images/new-york-city.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.top{
	width: 100vw;
	height: 10vh;
	top: 0px;
	z-index: 1;
	background-color: black;
	filter: opacity(70%);
	position: fixed;
}

.footer{
	width: 100vw;
	height: 15vh;
	z-index: 1;
	position: fixed;
	background-color: black;
	bottom: 0px;
}

.icon{
	position: relative;
	display: flex;
	align-items: center;
	z-index: 2;
	color: white;
	height: 10vh;
	
}