
body{
	margin: 0;
	padding: 0;
	background: linear-gradient(42deg, rgba(255, 123, 86, 1)27%, rgba(255, 255, 66, 1)70%); 
    background: -moz-linear-gradient(42deg, rgba(255, 123, 86, 1)27%, rgba(255, 255, 66, 1)70%); 
    background: -webkit-linear-gradient(42deg, rgba(255, 123, 86, 1)27%, rgba(255, 255, 66, 1)70%); 
    background: -o-linear-gradient(42deg, rgba(255, 123, 86, 1)27%, rgba(255, 255, 66, 1)70%); 
}

img{
	display: block;
}

h1{
	margin-left: 20px;
	margin-top: 20px;
	font-family: Microsoft JhengHei;
	position: relative;
	color: white ;
	z-index: 10;
}

h1:hover{
	color: lightblue;
}

a{
	text-decoration: none;
}
.line1{
	top: 0;
	position: fixed;
	width: 100%;
	height: 80px;
	background-color: black;
}

.no1{
	position: relative;
	width: 100%;
	display: block;
	background-color: red;
	z-index: 11;
	color: white;
	align-self: center;
}

.no2{
	position: relative;
	width: 30%;
	display: inline-block;
	background-color: black;
	z-index: 11;
	color: white;
	align-self: center;
}