body{
	margin: 0;
	padding: 0;
	background-color: yellow;
}

img{
	display: block;
}

h1{
	margin-left: 20px;
	margin-top: 20px;
	font-family: Î¢Ü›ÕýºÚów;
	position: relative;
	color: white ;
	z-index: 10;
}

a{
	text-decoration: none;
}
.line1{
	top: 0;
	position: fixed;
	width: 100%;
	height: 80px;
	background-color: black;
}
